@mixin flex-grid-classes() {
    .flex-grid {
        display: flex;
    }

    .flex-grid--vertical {
        flex-direction: column;
    }

    .flex-grid--reverse {
        flex-direction: row-reverse;
        &.flex-grid--vertical {
            flex-direction: column-reverse;
        }
    }
}
